<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serilog:using:TestDummies" value="TestDummies" />
    <add key="serilog:level-switch:$mySwitch" value="Warning" />
    <add key="serilog:minimum-level:controlled-by" value="$mySwitch" />
    <add key="serilog:write-to:DummyWithLevelSwitch.controlLevelSwitch" value="$mySwitch" />
  </appSettings>
</configuration>
