<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serilog:using:TestDummies" value="TestDummies" />
    <add key="serilog:destructure:ToMaximumDepth.maximumDestructuringDepth" value="3" />
    <add key="serilog:destructure:ToMaximumStringLength.maximumStringLength" value="3" />
    <add key="serilog:destructure:ToMaximumCollectionCount.maximumCollectionCount" value="3" />
    <add key="serilog:destructure:AsScalar.scalarType" value="System.Version" />
    <add key="serilog:destructure:With.policy" value="TestDummies.Policies.CustomPolicy, TestDummies" />
  </appSettings>
</configuration>
