<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serilog:using:TestDummies" value="TestDummies" />
    <add key="serilog:filter:ByExcludingLevel.excludedLevel" value="Warning" />
    <add key="serilog:enrich:WithDummyUserName.extraParam" value="UserExtraParam" />
    <add key="serilog:audit-to:Dummy.stringParam" value="A string param" />
    <add key="serilog:audit-to:Dummy.intParam" value="666" />
    <add key="serilog:write-to:Dummy" value="" />
  </appSettings>
</configuration>
