<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serilog:using:TestDummies" value="TestDummies" />
    <add key="serilog:write-to:DummyWithManyParams.enumParam" value="Qux" />
    <add key="serilog:write-to:DummyWithManyParams.timespanParam" value="2.03:04:05" />
    <add key="serilog:write-to:DummyWithManyParams.uriParam" value="https://www.serilog.net" />
  </appSettings>
</configuration>
